<% layout('layouts/boilerplate') %>
    <h1>Edit Restaurant</h1>

    <form class="needs-validation" action="/restaurants/<%= restaurant.id %>?_method=PUT" method="post" novalidate
        enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input required type="text" class="form-control" id="name" name="restaurant[name]"
                value="<%= restaurant.name %>">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input required type="text" class="form-control" id="location" name="restaurant[location]"
                value="<%= restaurant.location %>">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="price">Price</label>
            <div class="input-group ">
                <span class="input-group-text" id="basic-addon1">$</span>
                <input required name="restaurant[minimumprice]" type="text" class="form-control" id="price"
                    aria-label="price" value="<%= restaurant.minimumprice %>" aria-describedby="basic-addon3">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <textarea required class="form-control" id="Description" rows="3" name="restaurant[description]"
                value="<%= restaurant.description %>"><%= restaurant.description %></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="mb-3">
            <label for="Image" class="form-label">Add Images</label>

            <input type="file" class="form-control" id="Image" name="image" value="<%= restaurant.image %>" multiple>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="mb-3">
            <% restaurant.image.forEach((img,i)=> { %>
                <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail">


                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="image-<%= i %>" value="<%= img.filename %>"
                        name="deleteImages[]">
                    <label class="form-check-label" for="image-<%= i %>">Delete</label>
                </div>

                <% }) %>
        </div>


        <button type="submit" class="btn btn-info mb-3">Confirm</button>
    </form>
    <div>
        <a href="/restaurants/<%= restaurant.id %>">Cancel</a>
    </div>